<form (ngSubmit)="saveTicket()" #ticketForm="ngForm">

  <div class="container">
    <div class="row">
      <label for="inputId" class="col-2">Ticket ID</label>
      <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="ticket.id" name="inputId" readonly>
      </div>
    </div>

    <div class="row">
      <label for="inputCreationDttm" class="col-2">Creation date</label>
      <div class="col-2">
        <input type="date" class="form-control" [(ngModel)]="ticket.creationDttm" name="inputCreationDttm">
      </div>
    </div>
    <div class="row">
      <label for="inputCreationDttm2" class="col-2">Creation date 2</label>
      <div class="col-2">
        <input type="text" class="form-control" value="{{ ticket.creationDttm | date:'yyyy-MM-dd HH:mm' }}"
          name="inputCreationDttm2" readonly>
      </div>
    </div>

    <div class="row">
      <label for="inputText" class="col-2">Ticket text</label>
      <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="ticket.text" name="inputText" #textField="ngModel"
          minlength="6" required>
      </div>
    </div>

    <!-- Custom validations on exported ngModel (textField) -->
    <div *ngIf="textField.invalid && (textField.dirty || textField.touched)" class="alert">
      <div *ngIf="textField.errors?.['required']" class="alert alert-danger" role="alert">
        Text is required.
      </div>
      <div *ngIf="textField.errors?.['minlength']" class="alert alert-danger" role="alert">
        Text must be at least 10 characters long.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button type="submit" class="btn btn-primary" [disabled]="!ticketForm.form.valid">Save</button>
    </div>
  </div>
</form>